<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link rel="stylesheet" href="css/style.css"> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<main>
    <body>
        <header>
            <div class="header">
                <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo MercadoLiebre" id="Logo">
                <div class="search">
                    <form>
                        <input type="search" id="busqueda" name="busqueda" placeholder="Buscar productos, marcas" size=24px>
                        <button type="submit"> <i class="fas fa-search"></i></button>
                    </form>
                </div>
                <div id="pay-header">
                    <i class="fas fa-hand-holding-usd"><span> Comprá en cuotas y sin tarjeta de crédito</span></i>
                </div>
                <div class="burger-menu"> <i class="fas fa-bars burger-icon"> </i> </div>
            </div>

            <nav class="topbar">
                <ul>
                <div class="list"> 
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </div>
                <div class="list">
                    <li><a href=""> Creá tu cuenta </a><i class="far fa-id-card" style="color: #000000;"></i></li>
                    <li><a href=""> Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href=""> Mis compras </a><i class="fas fa-shopping-basket"></i></li>
                </div>           
                </ul>
            </nav>
        </header>
        <div class="banner">
            <img src="images\img-home-banner.jpg" alt="Banner MercadoLiebre"> </img> 
        </div>
        <div class="title">
            <h3>Basado en tu última visita</h3>
        </div>

        <section class="products">
            <article>
                <div class="products-img"><img src="images\blink-article.jpg" alt="Remera blink182"></div>
                <div class="cost-discount">
                    <div class="truck">
                        <i class="fas fa-truck truck" style="color: #39b54a;"></i>
                    </div>
                    <span class="cost">
                        $9.560
                    </span>
                    <span class="discount">
                        10% off
                    </span>
                </div>
                <div class="description">
                    <span>
                        Remera original blink 182
                    </span>
                </div>
            </article>

            <article>
                <div class="products-img"><img src="images\oculus-article.jpg" alt="Gafas realidad virtual"></div>
                <div class="cost-discount">
                    <div class="truck">
                        <i class="fas fa-truck truck" style="color: #39b54a;"></i>
                    </div>
                    <span class="cost">
                        $572.560
                    </span>
                    <span class="discount">
                        20% off
                    </span>
                </div>
                <div class="description">
                    <span>
                        Oculus quest 2
                    </span>
                </div>
            </article>

            <article>
                <div class="products-img"><img src="images\velador-article.jpg" alt="Velador forma de gato"></div>
                <div class="cost-discount">
                    <div class="truck">
                        <i class="fas fa-truck truck" style="color: #39b54a;"></i>
                    </div>
                    <span class="cost">
                        $15.620
                    </span>
                    <span class="discount">
                        10% off
                    </span>
                </div>
                <div class="description">
                    <span>
                        Velador gato
                    </span>
                </div>
            </article>

            <article>
                <div class="products-img"><img src="images\RE-article.jpg" alt="Resident Evil 4"></div>
                <div class="cost-discount">
                    <div class="truck">
                        <i class="fas fa-truck truck" style="color: #39b54a;"></i>
                    </div>
                    <span class="cost">
                        $68.600
                    </span>
                    <span class="discount">
                        20% off
                    </span>
                </div>
                <div class="description">
                    <span>
                        Resident Evil 4 Remake
                    </span>
                </div>
            </article>
        </section>

        <div class="title">
            <h3>Ofertas</h3>
        </div>

        <section class="products">
            <article>
                <div class="products-img"><img src="\images\img-cafetera-moulinex.jpg" alt="Cafetera Moulinex"></div>
                <div class="cost-discount">
                    <div class="truck">
                        <i class="fas fa-truck truck" style="color: #39b54a;"></i>
                    </div>
                    <span class="cost">
                        $6.770
                    </span>
                    <span class="discount">
                        40% OFF
                    </span>
                </div>
                <div class="description">
                    <span>
                        Cafetera Moulinex
                    </span>
                </div>
            </article>

            <article>
                <div class="products-img"><img src="images\img-macbook-pro-2019.jpg" alt="MacBook Pro 2019"></div>
                <div class="cost-discount">
                    <div class="truck">
                        <i class="fas fa-truck truck" style="color: #39b54a;"></i>
                    </div>
                    <span class="cost">
                        $230.000
                    </span>
                    <span class="discount">
                        20% OFF
                    </span>
                </div>
                <div class="description">
                    <span>
                        MacBook Pro 2019
                    </span>
                </div>
            </article>

            <article>
                <div class="products-img"><img src="images\img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10"></div>
                <div class="cost-discount">
                    <div class="truck">
                        <i class="fas fa-truck truck" style="color: #39b54a;"></i>
                    </div>
                    <span class="cost">
                        $70.500
                    </span>
                    <span class="discount">
                        10% OFF
                    </span>
                </div>
                <div class="description">
                    <span>
                        Samsung Galaxy S10
                    </span>
                </div>
            </article>

            <article>
                <div class="products-img"><img src="images\img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43"></div>
                <div class="cost-discount">
                    <div class="truck">
                        <i class="fas fa-truck truck" style="color: #39b54a;"></i>
                    </div>
                    <span class="cost">
                        $23.200
                    </span>
                    <span class="discount">
                        5% OFF
                    </span>
                </div>
                <div class="description">
                    <span>
                        SmartTv Samsung 43"
                    </span>
                </div>
            </article>
        </section>

        <footer>
            <div class="credit-card">
                <i class="fas fa-credit-card footer-icon"></i>
                <p class="footer-title"> Pagá con tarjeta o en efectivo </p>
                <p class="footer-text">
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!      
                </p>
            </div>
        
            <div class="delivery">
                <i class="fas fa-gift footer-icon"></i>
                <p class="footer-title"> Envío gratis desde $ 2.500 </p>
                <p class="footer-text"> 
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.   
                </p>   
            </div>

            <div class="security">
                <i class="fas fa-user-shield footer-icon"></i>
            <p class="footer-title"> Seguridad, de principio a fin </p>
            <p class="footer-text">
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegido.  
            </p>  
            </div>
        </footer>
        <p class="copyright"> Copyright © 1999-2020 MercadoLiebre S.R.L. <p></p>

    </body>
</main>