<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link rel="stylesheet" href="css/style.css"> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<main>
    <body>
        <header>
            <div class="header">
                <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo MercadoLiebre" id="Logo">
                <div class="search">
                    <form>
                        <input type="search" id="busqueda" name="busqueda" placeholder="Buscar productos, marcas" size=24px>
                        <button type="submit"> <i class="fas fa-search"></i></button>
                    </form>
                </div>
                <div id="pay-header">
                    <i class="fas fa-hand-holding-usd" style="color: #000000;"><span> Comprá en cuotas y sin tarjeta de crédito</span></i>
                </div>
            </div>
            <nav class="topbar">
                <ul>
                <div class="first-list"> 
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </div>
                <div class="second-list">
                    <li><a href=""> Creá tu cuenta </a><i class="far fa-id-card" style="color: #000000;"></i></li>
                    <li><a href=""> Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href=""> Mis compras </a><i class="fas fa-shopping-basket"></i></li>
                </div>           
                </ul>
            </nav>


        </header>
        <div class="banner">
            <img src="images\img-home-banner.jpg" alt="Banner MercadoLiebre"> </img> 
        </div>
        <div class="title">
            <h3>Basado en tu última visita</h3>
        </div>

    <section class="products">
        <article>
            <img src="images\img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
            <div class="truck">
                <i class="fas fa-truck circulo" style="color: #39b54a;"></i>
            </div>
            

        </article>

    </section>

    </body>
</main>