<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2> Registrate</h2>
    <form action="/register" method="post">
        <label for="name"> Nombre y apellido:</label>
        <input type="text" name="name">

        <label for="user"> Nombre de usuario:</label>
        <input type="text" name="user">

        <label for="email"> Email:</label>
        <input type="email" name="email">

        <label for="fecha_nacimiento"> Fecha de nacimiento:</label>
        <input type="date" name="fecha_nacimiento">

        <label for="domicilio">Domicilio:</label>
        <input type="text" name="domicilio">

        <label for="perfil_usuario">Perfil del usuario:</label>
        <select id="perfil_usuario" name="perfil_usuario">
            <option value="comprar">Comprar</option>
            <option value="vender">Vender</option>
        </select>


        <label for="categorias_interes">Categorías de interés:</label>
        <select name="categorias_interes">
            <option value="Electro">Electro</option>
            <option value="Moda">Moda</option>
            <option value="Hogar">Hogar</option>
            <option value="Juguetería">Juguetería</option>
            <option value="Vida sana">Vida sana</option>
        </select>
        <br>

        <label for="foto_usuario">Foto de usuario:</label>
        <input type="file" id="foto_usuario" name="foto_usuario" accept="image/*" required>
        <br>

        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" name="contrasena" required>
        <br>

        <label for="confirmar_contrasena">Confirmar contraseña:</label>
        <input type="password" id="confirmar_contrasena" name="confirmar_contrasena" required>
        <br>

        <input type="submit" value="Enviar">
        <input type="reset" value="Borrar datos">






    </form>
</body>
</html>